.navbar{
    background-image:url(images/back5.jpg);
    background-size: cover;
    height: 600px;
}
.head button{
    font-size: 20px ;
    color: rgb(255, 0, 0);
    margin-left: 40%;
    background-color: transparent;
    border: none;
}

.navbar div{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.move{
    margin:7%;
    color: rgb(243, 14, 14);
}

.two button{
    width: 10%;
    font-size: 20px;
    border-radius: 5px;
    

}
.two button:hover{
    background-color: crimson;
    color: white;
    border-radius: 5px;
    border: none;
}

.navbar h1{
    font-size: 250%;
    margin-left: 8%;
    font-style: italic;
    color: white;
}

.navbar ul{
    display:flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    
}
.navbar img{margin-left: 15%;}

.navbar input{
    margin-left: 70%;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    
}
.navbar ul li{margin-left: 30%;}

.navbar a{color: white;
    text-decoration: none;
    font-size: 150%;
    font-weight: bolder;
    
    }

    .navbar ul a:hover{
        background-color: crimson;
        color: rgb(229, 235, 229);
        border-radius: 5px;
        
    }

    .navbar ul a.active{
        background-color: crimson;
        color: white;
        border-radius: 10px;
        padding: 10px; 
    }